<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Event</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.Event_Name}} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Event head id</th>
            <th scope="col">Venue</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.Event_Name}}</th>
            <td>{{this.Event_head_id}}</td>
            <td>{{this.Venue}}</td>
            <td>{{this.Date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <b>Decription</b>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{this.description}}
      </div>
    </div>
  </div>
  {{/each}}
</div>